﻿@model ElSecretary.Models.ItemCatalog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItemCatalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @if (Model.Image != null)
            {
                @Html.Raw("<img style='width:350px; height:350px;' src=\"data:image/jpeg;base64,"
                      + Convert.ToBase64String(Model.Image) + "\" />")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raiting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raiting)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
