﻿@using ElSecretary.Controllers
@model ElSecretary.Models.ItemCatalog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemCatalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>

            @if (Model.Image != null)
            {
                @Html.Raw("<img style='width:280px; height:280px;' src=\"data:image/jpeg;base64,"
                      + Convert.ToBase64String(Model.Image) + "\" />")
            }

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>

        </dt>



        <dt>
            @Html.DisplayNameFor(model => model.AverageCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raiting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raiting)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Action("Index", "Forum");