﻿@model IEnumerable<ElSecretary.Models.ItemCatalog>

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raiting)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Image != null)
                {
                    @Html.Raw("<img style='width:80px; height:80px;' src=\"data:image/jpeg;base64,"
                      + Convert.ToBase64String(item.Image) + "\" />")
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raiting)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
