﻿@model List<ElSecretary.Models.ForumMessage>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Forum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <b>@item.Owner</b>
                        <div class="pull-right">
                            @item.DateTime
                        @if (ViewBag.isAdmin == "admin@els.com")
                        {
                            <br><a class="pull-right" href="/forum/DeleteMessage/@item.Id">Delete</a>
                        }
                    </div>
                    <br>
                    <br>
                    @item.Message
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<br>
<form method="post" action="/forum/NewMessage">
    <input type="hidden" name="idDevice" value="@ViewBag.idDevice" />

    <textarea rows="5" class="form-control" name="Message" style="max-width: 600px"></textarea>
    <input type="submit" class="btn btn-success" value="Say to all">
</form>
